.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outlet-children{
  margin: 75px 15px;
}

.header-nav-bar{
  height: 60px;
  background-color: #011EFF;
}

.content {
  text-align: center;
}


.header-title{
  font-size: 24px;
  text-decoration: none;
  color: white;
  span {
    padding-left: 24px;
  }
}

.chat-bot-container {
    border: 1px solid #ccc;
    margin: auto;
    width: 60%;
    position: relative;
    @media only screen and (min-width: 250px) {
      width: 100%;
    }
    @media only screen and (min-width: 500px) {
      width: 100%;
    }
    @media only screen and (min-width: 768px) {
      width: 80%;
    }
    @media only screen and (min-width: 1240px) {
      width: 70%;
    }
   
}

.chat-bot-header{
  background-color: #011EFF;
  height: 40px;
  display: flex;
  align-items: center;
  span {
    padding: 10px;
    color: white;
  }
}

.chatbot-messages{
  margin-left: 10px;
  padding-top: 20px;
  height: 350px;
  overflow: auto;
  position: relative;
}


.chatbot-robot-messages-title {
  width: 70%;
  margin-left: 24px;
  /* margin-bottom: 24px; */
  .robot-messgages{
    background-color: #EAF5FE;
    /* border: 1px solid #ccc; */
  
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    min-height: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  /* .chatbot-messages-list{
    ul {
      border: 1px solid #ccc;
      margin: 0px;
     
    }
  } */
}

.chatbot-robot-messages-list {
  width: 70%;
  margin-left: 24px;
  margin-bottom: 24px;
  margin-top: 24px;
  
  background-color: #EAF5FE;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
 
  .robot-messgages{
    background-color: #EAF5FE;

    border: 1px solid #EAF5FE;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
    min-height: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .chatbot-messages-list{
    padding-bottom:2px;
    ul {
      border: 1px solid #EAF5FE;
      margin: 2px;
      padding: 5px;
      background-color: white;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
  }
}


.chatbot-user-messages{
  /* background-color: #F2F2F2; */
  text-align: right;
  padding-right: 10px;
  height: 40px;
  min-width: 30%;
  /* position: absolute;
  right: 20px;
  bottom: 0px; */
  display: flex;
  align-items: center;
  justify-content: end;
  /* border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px; */
  span{
    margin: 10px;
    background-color: #F2F2F2;
        padding: 10px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        
  border-bottom-left-radius: 12px;
  }
}
.chat-bot-list{
  position: relative;
  padding-top: 24px;
}
.chat-bot-icon{
  position: absolute;
  bottom: 0px;
  color: blue;
  font-size: 20px
}


.chat-bot-option-select{
  height:40px;
  padding-left: 20px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  background-color: #EEEEEE;
  position: relative;

  span {
    font-size: 24px;
    position: absolute;
    right: 5px;
  }
}

#go-to-bottom{
  position: absolute;
  bottom: 20px;
  scroll-margin-bottom: 0;
}



